* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #58AF9C;
    height: 100vh;
}

#inicio {
    float: left;
    width: 35%;
    color: white;
    text-align: center;
    margin-top: 15%;
}

#welcome {
    font-size: 3.5em;
}


.signin {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 15px;
    width: 140px;
    padding: 4px 0px;
}


#tela_cadastro {
    float: right;
    background-color: white;
    width: 65%;
    height: 100%;
}

#login {
    text-align: center;
    margin-top: 10%;
}
#login h1 {
    color: #58AF9C;
    font-size: 3.5em;
    margin-bottom: 20px;
}
#login img {
    width: 45px;
    opacity: 0.4;
    margin-bottom: 15px;
    margin-right: 20px;
}

#tela_cadastro p {
    color: rgb(150, 150, 150);
    font-size: 1.2em;
}

#formulario {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    text-align: center;
}

form input {
    background-color: rgba(224, 220, 220, 0.815);
    border: none;    
    margin-bottom: 10px;
    width: 50%;
    height: 45px;
}

.input-icons i {
    position: absolute;
    padding: 15px;
}
  
.campo {
    padding: 0px 50px;
}

#signup {
    background-color: #58AF9C;
    color: white;
    width: 180px;
    padding: 8px 0px;
    border: none;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}




@media (max-width: 730px) {
    main {
        background-color: #58AF9C;
        height: 100vh;
    }
    
    #inicio {
        float: left;
        width: 35%;
        color: white;
        text-align: center;
        margin-top: 15%;
    }
    
    #welcome {
        font-size: 3em;
    }
    
    
    .signin {
        background-color: transparent;
        color: white;
        border: 1.5px solid white;
        border-radius: 15px;
        width: 140px;
        padding: 4px 0px;
    }
}

@media (max-width: 650px) {
    main {
        background-color: #58AF9C;
        height: 100vh;
    }
    
    #inicio {
        float: left;
        width: 35%;
        color: white;
        text-align: center;
        margin-top: 15%;
    }
    
    #welcome {
        font-size: 3em;
    }
    
    
    .signin {
        background-color: transparent;
        color: white;
        border: 1.5px solid white;
        border-radius: 15px;
        width: 140px;
        padding: 4px 0px;
    }

    #login h1 {
        color: #58AF9C;
        font-size: 3.2em;
        margin-bottom: 20px;
    }

    .campo {
        padding: 0px 50px;
        width: 80%;
    }
}

@media (max-width: 610px) {

    main {
        background-color: #58AF9C;
        height: 100vh;
    }
    
    #inicio {
        position: relative;
        bottom: 50px;
        width: 100%;
        color: white;
        text-align: center;
    }
    
    #welcome {
        font-size: 3em;
    }
    
    
    .signin {
        background-color: transparent;
        color: white;
        border: 1.5px solid white;
        border-radius: 15px;
        width: 140px;
        padding: 4px 0px;
    }

    #login h1 {
        color: #58AF9C;
        font-size: 3.2em;
        margin-bottom: 20px;
    }

    #tela_cadastro {
        float: right;
        background-color: white;
        width: 100%;
        height: 70vh;  
    }
    
    #login {
        text-align: center;
        margin-top: 10%;
    }
    #login h1 {
        color: #58AF9C;
        font-size: 3.5em;
        margin-bottom: 20px;
    }
    #login img {
        width: 45px;
        opacity: 0.4;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    
    #tela_cadastro p {
        color: rgb(150, 150, 150);
        font-size: 1.2em;
    }
    
    #formulario {
        display: flex;
        justify-content: center;
    }
    
    form {
        width: 100%;
        text-align: center;
    }
    
    form input {
        background-color: rgba(224, 220, 220, 0.815);
        border: none;    
        margin-bottom: 10px;
        width: 50%;
        height: 45px;
    }
    
    .input-icons i {
        position: absolute;
        padding: 15px;
    }
      
    .campo {
        padding: 0px 50px;
        width: 80%;
    }
    
    #signup {
        background-color: #58AF9C;
        color: white;
        width: 180px;
        padding: 8px 0px;
        border: none;
        border-radius: 25px;
        text-align: center;
        margin-top: 20px;
    }
}